header {
  background-color: #0005;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
header.logo {
  padding-top: 20px;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: color 0.6;
}
.dropdonw-menu > li > a:hover{
color: #e50914;

}
.menu a:hover {
  color: red;
}
.dropdpown-submenu {
  position: absolute;
  display: none;
  list-style: none;
  top: 60px;
  width: 100px;
  padding: 50px;
  gap: 10px;

}
.dropdpown-submenu li {
  padding-left: 10px;
}
.dropdpown-submenu{
  background-color: #e50914;
}